@import "./global.css";

.bar_chart_container {
  width: var(--chart-width-heigh-1000);
  height: var(--chart-width-heigh-500);
  margin: 0 auto;
}

.bar_chart_container .bar_chart {
  width: auto;
  height: auto;
}

@media screen and (max-width: 1500px) {
  .bar_chart_container {
    width: var(--chart-width-heigh-600);
    height: var(--chart-width-heigh-300);
  }
}

@media screen and (max-width: 1100px) {
  .bar_chart_container {
    width: var(--chart-width-heigh-600);
    height: var(--chart-width-heigh-300);
  }
}
