@import "./global.css";

.modal_container {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal_none {
  display: none;
}

.modal_main {
  position: fixed;
  background: var(--color-white);
  width: 80%;
  min-height: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--size-rem-0-5);
}

.display-block {
  display: block;
}

.btn_close {
  float: right;
  margin-top: var(--size-rem-0-5);
  margin-right: var(--size-rem-0-5);
  background-color: var(--color-primary-500);
  color: var(--color-white);
}
